<!-- sa-app__content -->
<div class="sa-app__content">
    <%- include('../admin/common/navbar') %>

        <!-- sa-app__body -->
        <div id="top" class="sa-app__body">
            <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
                <div class="container">
                    <div class="py-5">

                    </div>
                    <div class="card">
                        <div class="p-4"><input type="text" placeholder="Start typing to search for customers"
                                class="form-control form-control--search mx-auto" id="table-search" /></div>
                        <div class="sa-divider"></div>
                        <table class="sa-datatables-init" data-order="[[ 1, &quot;asc&quot; ]]"
                            data-sa-search-input="#table-search">
                            <thead>
                                <tr>
                                    <th class="w-min" data-orderable="false"><input type="checkbox"
                                            class="form-check-input m-0 fs-exact-16 d-block" aria-label="..." />
                                    </th>
                                    <th class="min-w-20x">Name</th>
                                    <th>Registered</th>
                                    <th>Following</th>
                                    <th>followers</th>
                                    <th>total purchase</th>
                                    <th class="w-min" data-orderable="false"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach((user)=>{%>
                                    <tr>
                                        <td><input type="checkbox" class="form-check-input m-0 fs-exact-16 d-block"
                                                aria-label="..." /></td>
                                        <td>
                                            <div class="d-flex align-items-center"><a href="app-customer.html"
                                                    class="me-4">
                                                    <div
                                                        class="sa-symbol sa-symbol--shape--rounded sa-symbol--size--lg">
                                                        <img src="images/customers/customer-1-40x40.jpg" width="40"
                                                            height="40" alt="" />
                                                    </div>
                                                </a>
                                                <div><a href="app-customer.html" class="text-reset">
                                                        <%= `${user.name.first_name} ${user.name.last_name}`%>
                                                    </a>
                                                    <div class="text-muted mt-n1">
                                                        <%= user.email %>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <%= user.joined_date %>
                                        </td>
                                        <td>
                                            <%= user.followers %>
                                        </td>
                                        <td>
                                            <%= user.following %>
                                        </td>
                                        <td>
                                            <div class="sa-price">
                                                <%= user.total_purchase %>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown"><button class="btn btn-sa-muted btn-sm" type="button"
                                                    id="customer-context-menu-0" data-bs-toggle="dropdown"
                                                    aria-expanded="false" aria-label="More"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                                        fill="currentColor">
                                                        <path
                                                            d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                        </path>
                                                    </svg></button>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="customer-context-menu-0">
                                                    <li><a class="dropdown-item"
                                                            href="/admin/users/user/<%= user._id %>">Edit</a></li>
                                                    <li>
                                                        <hr class="dropdown-divider" />
                                                    </li>
                                                    <% if(user.isBan){ %>
                                                        <li><a class="dropdown-item text-danger"
                                                                href="/admin/users/user/UNban/<%= user._id %>">Unban</a>
                                                        </li>
                                                        <% }else{ %>
                                                            <li><a class="dropdown-item text-danger"
                                                                    href="/admin/users/user/ban/<%= user._id %>">ban</a>
                                                            </li>
                                                            <% } %>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- sa-app__body / end -->
        <!-- sa-app__footer -->
        <div class="sa-app__footer d-block d-md-flex">
            <!-- copyright -->Stroyka Admin — eCommerce Dashboard Template © 2021<div class="m-auto"></div>
            <div>Powered by HTML — Design by <a href="https://themeforest.net/user/kos9/portfolio">Kos</a></div>
            <!-- copyright / end -->
        </div><!-- sa-app__footer / end -->
</div><!-- sa-app__content / end -->
<!-- sa-app__toasts -->
<div class="sa-app__toasts toast-container bottom-0 end-0"></div><!-- sa-app__toasts / end -->